h1= title
div(id="fb-root")
script
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '166821513417475',
      status     : true, 
      cookie     : true,
      xfbml      : true,
      oauth      : true,
    });
  };

fb:registration(fields="name,birthday,gender,location,email" 
  redirect-uri="http://localhost:3000/profile"
  width="530")