!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    script(src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/scripts.js')
  body!= body